@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e211f;
  color: white;
  font-family: "Rubik";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .page-header {
    @apply text-[32px] font-medium;
  }

  .page-desc {
    @apply text-[16px] text-gray-200;
  }

  .page-sub {
    @apply text-[20px] text-gray-300;
  }
}
